version: '2'
services:
  jenkins:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: jenkins
    privileged: true
    network_mode: "bridge"
    ports:
      - "8081:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/homework/docker_jenkins/aws_homework/jenkinsfiles/config.xml:/var/jenkins_home/jobs/test_job/config.xml
      - $HOME/homework/docker_jenkins/aws_homework/jenkinsfiles/setup_netbox_env.sh:/var/jenkins_home/workspace/test_job/setup_netbox_env.sh
