version: '2'
services:
  jenkins:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: jenkins
    privileged: true
    network_mode: "bridge"
    ports:
      - "8081:8080"
    user: jenkins
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkinsfiles/config.xml:/var/jenkins_home/jobs/test_job/config.xml
      - ./jenkinsfiles/setup_netbox_env.sh:/var/jenkins_home/jobs/test_job/workspace/setup_netbox_env.sh
